{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    {% if cart %}
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Libellé</th>
            <th>Modèle</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th></th>
        </tr>
        </thead>
        {% set total =0 %}
        {% set quantite =0 %}
        {% for  key,row in cart %}
    {% if key matches '/^\\d+$/' %}
        <tr>
            <td><img class="img-fluid img_cart" src="/assets/images/PRODUCTS/{{ row.picture }}"></td>
            <td>{{ row.label }}</td>
            <td>{{ row.model }}</td>
            <td>{{ row.price }}</td>
            <td>
                {{ row.qty }}
            </td>
            <td><a href="" class="btn-danger">Supprimer</a></td>
        </tr>
    </table>
        {% set total = total + row.qty*row.price %}
        {% set quantite = quantite + row.qty %}
    {% endif %}
        {% endfor %}

    {% else %}
        <div class="col-sm-12 text-center pb-4">
            <span class="fa fa-shopping-cart fa-10x bgcaddie"></span>
            <h2>Votre panier est vide</h2>
        </div>
    {% endif %}
{% endblock %}
