{% extends 'base.html.twig' %}

{% block title %}Hello OrdDetController!{% endblock %}

{% block body %}


    {{ dump(order) }}
    <div class="container">

    <caption> Facture N°{{ order.id }}</caption>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>Libellé</th>
            <th>Modèle</th>
            <th>Prix HT</th>
            <th>Quantité</th>
            <th>Total HT</th>
            <th>TVA</th>
            <th>Total TTC</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% set total_cart = 0 %}
        {% set total_tva = 0 %}
{#        {% set total_ttc = 0 %}#}
        {% set quantity = 0 %}
        {% set row_count = 0 %}
        {% for od in order.orderDetails %}
            <tr>
                <td>{{ od.id }}</td>
                <td>{{ od.product.label }}</td>
                <td>{{ od.product.model }}</td>
                <td style="text-align: right">{{ od.price|number_format(2, '.', ' ') }} €</td>
                <td style="text-align: center">{{ od.quantity }}</td>

                {% set total = od.price * od.quantity %}
                <td style="text-align: right">{{ total|number_format(2, '.', ' ')}} €</td>

                {% set tva = total *0.2 %}
                <td style="text-align: right">{{ tva|number_format(2, '.', ' ') }} €</td>

                <td style="text-align: right">{{ (total + tva)|number_format(2, '.', ' ') }} €</td>

                {% set total_cart = total_cart + total %}
                {% set total_tva = total_tva + tva %}
{#                {% set total_ttc = total_ttc + (total + tva) %}#}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <th style="text-align: right" colspan="5">TOTAL</th>
            <td style="text-align: right">{{ total_cart|number_format(2, '.', ' ') }} €</td>
            <td style="text-align: right">{{ total_tva|number_format(2, '.', ' ') }} €</td>
            <td style="text-align: right">{{ (total_cart+total_tva)|number_format(2, '.', ' ') }} €</td>
        </tr>
        </tfoot>

    </table>
    </div>
{% endblock %}
