{% extends 'base.html.twig' %}

{% block title %}Hello OrdDetController!{% endblock %}

{% block body %}


    {#    {{ dump(order) }} #}
    {#    <img src="{{ asset('/assets/images/HEADER/logo.png') }}"> #}
    <div class="container">

            <h3> Facture N°{{ order.id }}</h3>

            <a href="{{ path('bill', {order:order.id}) }}">La facture en PDF</a>
        <table class="table table-responsive py-2">
            <thead>
            <tr>
                <th>ID</th>
                <th width="15%">Libellé</th>
                <th width="15%">Modèle</th>
                <th>
                    <nobr>Prix HT,€</nobr>
                </th>
                <th>Quantité</th>
                <th>
                    <nobr>Total HT,€</nobr>
                </th>
                <th>
                    <nobr>TVA, €</nobr>
                </th>
                <th>
                    <nobr>Total TTC,€</nobr>
                </th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% set total_cart = 0 %}
            {% set total_tva = 0 %}
            {#        {% set total_ttc = 0 %} #}
            {% set quantity = 0 %}
            {% set row_count = 0 %}
            {% for od in order.orderDetails %}
                <tr>
                    <td>{{ od.id }}</td>
                    <td>{{ od.product.label }}</td>
                    <td>{{ od.product.model }}</td>
                    <td style="text-align: right">
                        <nobr>{{ od.price|number_format(2, '.', ' ') }}</nobr>
                    </td>
                    <td style="text-align: center">{{ od.quantity }}</td>

                    {% set total = od.price * od.quantity %}
                    <td style="text-align: right">
                        <nobr>{{ total|number_format(2, '.', ' ') }}</nobr>
                    </td>

                    {% set tva = total *0.2 %}
                    <td style="text-align: right">
                        <nobr>{{ tva|number_format(2, '.', ' ') }}</nobr>
                    </td>

                    <td style="text-align: right">
                        <nobr>{{ (total + tva)|number_format(2, '.', ' ') }}</nobr>
                    </td>

                    {% set total_cart = total_cart + total %}
                    {% set total_tva = total_tva + tva %}
                    {#                {% set total_ttc = total_ttc + (total + tva) %} #}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <th style="text-align: right" colspan="5">TOTAL</th>
            <td style="text-align: right">
                <nobr>{{ total_cart|number_format(2, '.', ' ') }}</nobr>
            </td>
            <td style="text-align: right">
                <nobr>{{ total_tva|number_format(2, '.', ' ') }}</nobr>
            </td>
            <td style="text-align: right">
                <nobr>{{ (total_cart+total_tva)|number_format(2, '.', ' ') }}</nobr>
            </td>
            </tr>
            </tfoot>

        </table>
    </div>
{% endblock %}
