{% extends 'base.html.twig' %}


{% block body %}

    {{ dump(list[0].subcat.products) }}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}" title="Accueil">Accueil</a></li>
{#            {% if (list.products|first) %}#}
            <li class="breadcrumb-item"><a href="{{ path('subcatlist', { id: list[0].subcat.category.id}) }}" >{{ list[0].subcat.category.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ list[0].subcat.name }}</li>
{#            {% endif %}#}
        </ol>
    </nav>
    <div id="results" class="container-fluid py-5">
        {% for product in list %}
            <article class="results_product_item">
                <a href="{{ path('prod_details',{id : product.id}) }}"
                   class="results_product_item_image_container">
                    <img src="http://localhost/Green/assets/images/PRODUCTS/{{ product.picture }}"
                         alt="{{ product.picture }}" class="results_product_item_image lazyload" />
                </a>
                <div class="results_product_item_content">
                    <div class="results_product_item_category">
                        {{ product.label }}
                    </div>
                    <a href='{{ path('prod_details',{id : product.id}) }}'
                       class="results_product_item_name">
                        {{ product.model }}
                    </a>
                    <div class="results_product_item_price">
                        &euro;{{ product.price }}
                    </div>
                </div>
            </article>

        {% endfor %}
    </div>
{% endblock %}
