<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Village_Green{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/assets/style.css" type="text/css" rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/f7nrvb0b2s521028a10roouemfhy288eiu43bb2vnnrcqelq/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>tinymce.init({
            selector: 'textarea',
            menubar: true,
            plugins: 'code',
            plugins: 'lists',
            toolbar: 'numlist bullist'
        });</script>
</head>
<body>
<div class="corp">

    <div class="logo col-4 align-self-start">
        <a type="button" href="{{ path('home') }}">
            <img class="img-fluid float-left" src="/assets/images/HEADER/logo village green.png">
        </a>
    </div>

    <div class="justify-content-between">
        <nav class="navbar navbar-expand-lg nav1">
            <div class="bar ml-auto">
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#Demo01"
                        aria-controls="Demo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="m-0 p-0 collapse navbar-collapse" id="Demo01">
                    <ul class="navbar-nav mt-2 ">
                        <li class="nav-link">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav1" href="#">Infos</a>
                        </li>
                        <li class="nav-item">
                            <a id="myBtn" class="nav-link nav1" data-toggle="modal" href="#">Espace client</a>

                            <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content corp">
                                        <div class="modal-body row">
                                            <div class="col-md-6 col-sm-12 modal_left">
                                                <h6 class="pb-4">Etes-vous déjà clients chez nous?</h6>
                                                <a type="button" href="{{ path('app_login') }}"
                                                   class="btn btn-block modal_btn">Se connecter maintenant</a>
                                            </div>
                                            <div class="vr">
                                                <div></div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <h6 class="pb-4">N’êtes-vous pas encore client?</h6>
                                                <a type="button" class="btn btn-block modal_btn"
                                                   href="{{ path('singup') }}">S'inscrire</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pic_cart" href="{{ path('cart') }}"><img src="/assets/images/HEADER/picto panier.png"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img class="" src="/assets/images/HEADER/picto pays.png"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="justify-content-between">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="bar ml-auto">
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#Demo02"
                        aria-controls="Demo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Demo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav2" href="{{ path('prodlist') }}">Produits</a></li>
                        <li class="nav-item"><a class="nav2" href="#">Service</a></li>
                        <li class="nav-item"><a class="nav2" href="#">Aide</a></li>
                        <li class="nav-item"><a class="nav2" href="#">A propos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="justify-content-between">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="bar ml-auto">
                <button class="navbar-toggler" type="button"
                        data-toggle="collapse" data-target="#Demo03"
                        aria-controls="Demo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Demo03">
                    <ul id="cat_nav" class="navbar-nav ml-auto">
                        {% for category in categories %}
                            <div class="dropdown">
                                <a class="nav3 dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{ category.name }}
                                </a>
                                <ul id="subcat_nav" class="dropdown-menu"
                                    aria-labelledby="dropdownMenuLink">
                                    {% for subcat in category.subcats %}
                                        <a class="dropdown-item"
                                           href="{{ path('prodlist2', { id: subcat.id}) }}">
                                            {{ subcat.name }}
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    {% block body %}{% endblock %}
</div>
</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{#<script type="text/javascript" src="http://localhost/Green/assets/script.js"></script>#}

{# <?php if ($modal == true) { ?> #}
{# <script> #}
{#    if ($modal == true) #}
{#    { #}
{#        $(document).ready(function() #}
{#        { #}
{#            $("#myModal").modal(); #}
{#        }); #}
{#    } #}
{# </script> #}
{# <?php } ?> #}
