{% extends 'base.html.twig' %}

{% block title %}Hello MyOrdersController!{% endblock %}

{% block body %}
    <div class="container-fluid text-center py-2">
        <h3 class="font_color">Vos commandés</h3>
    </div>

    <div class="container d-flex flex-wrap">
    {% if app.user %}
        {#        {{ dump(app.session.get('cart')) }} #}
        <div class="col-sm-1 d-none d-sm-block">
            <strong>Numéro de commande</strong>
        </div>
        <div class="col-sm-2 d-none d-sm-block">
            <strong>Date de commande</strong>
        </div>
        <div class="col-sm-3 d-none d-sm-block">
            <strong>Libellé</strong>
        </div>
        <div class="col-sm-3  d-none d-sm-block">
            <strong>Modèle</strong>
        </div>
        <div class="col-sm-2 d-none d-sm-block">
            <strong>Prix</strong>
        </div>
        <div class="col-sm-1 d-none d-sm-block">
            <strong>Quantité</strong>
        </div>
        <hr class="my-4 w-100">
{#{{ dump(orders) }}#}
{% for row in orders %}
{#        {{ dump(row.orderDetails) }}#}
    {% for ode in row.orderDetails %}
    {{ ode.product.label}}
    {%  endfor %}
        {% endfor %}
{#        {% for row in list %}#}
{#            <div class="col-sm-3 col-12 text">#}
{#                <a href="{{ path('prod_details', {id : key}) }}">#}
{#                    <img class="img-fluid img_cart" src="/assets/images/PRODUCTS/{{ row.picture }}"#}
{#                         alt="{{ row.picture }}">#}
{#                </a>#}
{#            </div>#}
{#            <div class="col-sm-3  col-12">#}
{#                {{ row.label }}#}
{#            </div>#}
{#            <div class="col-sm-3  col-12">#}
{#                {{ row.model }}#}
{#            </div>#}
{#            <div class="col-sm-2 col-12">#}
{#                {{ row.price }} €#}
{#            </div>#}
{#            {% set total = total + row.qty*row.price %}#}
{#            {% set quantity = quantity + row.qty %}#}
{#            <div class="col-sm-1 col-12">#}
{#                {{ row.qty }}#}
{#            </div>#}
{#            <hr class="my-4 w-100">#}
{#        {% endfor %}#}
        </div>

    {% endif %}
{% endblock %}
